.icon-mail {
  @media screen and (min-width: 768px) {
  width: 14px;
  height: 10px;
  }

    @media screen and (min-width: 1200px) {
  width: 16px;
  height: 12px;
    }
}
.icon-smartphone {
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 14px;
  }

  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}
.send-icon {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

@each $features in attention, punctual, plan, tecnology {
  .#{$features}::before {
    background-image: url(../images/features/#{$features}-image.png);
  }
}