.image-overlay {
  // z-index: -1;
  position: absolute;    
  opacity: 0;
  height: 188px; 
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--animation), opacity var(--animation);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    // z-index: 1;
    transform: translateY(-100%);
    opacity: 1;  
  }

  @media screen and (min-width: 480px) {
    height: 294px; 
  }
}

.image-overlay__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--white-color);

  @media screen and (min-width: 480px) {
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
  }
}

