.logo {
  display: inline-block;
  text-decoration: none;
}
.logo__text {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
// position: absolute;
// width: 134px;
// height: 28px;
// left: 15px;
// top: 16px;

// font-family: Raleway;
// font-style: normal;
// font-weight: bold;
// font-size: 24px;
// line-height: 28px;
// letter-spacing: 0.03em;

// color: #2196F3;

.logo__text--black {
  color: var(--black-color);
}
.logo__text--white {
  color: var(--white-color);
}
.logo__text--accent {
  color: var(--accent-color);
}