.order-form__item {
  position: relative;
}
.order-form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}
.order-form__textfield,
.order-form__message {
  width: 100%;
  margin-top: 4px;
  padding: 11px 42px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.143;
  transition: border-color var(--animation);
  
  &:focus-within {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}
}
.order-form__message {
  padding: 11px 15px;
  margin-bottom: 20px;
  resize: none;
}
.order-form__item-icon {
  position: absolute;
  bottom: 21px;
  left: 11px;
  fill: var(--title-color);
  width: 18px;
  height: 18px;
  transition: fill var(--animation);

  .order-form__textfield:focus-within + & {
  fill: var(--accent-color);
}
}
.order-form__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}