.clients {
  padding-bottom: 94px;
}
.clients__item {
  width: calc(
    (100% - (30px * var(--number-of-items) * 2)) / (var(--number-of-items) * 2)
  );
  margin-left: 30px;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  height: 90px;
  transition: border-color var(--animation);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__icon {
  fill: var(--icon-color);
  transition: fill var(--animation);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
