.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.clients__item {
  margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(
      (100% - (30px * var(--number-of-items))) / var(--number-of-items)
    );
@media screen and (min-width: 768px) {
  --number-of-items: 3;
}
@media screen and (min-width: 1200px) {
  --number-of-items: 6;
}
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  height: 90px;
  transition: border-color var(--animation);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__icon {
  fill: var(--icon-color);
  transition: fill var(--animation);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
