.footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  background-color: lightgreen;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__item {
  background-color: grey;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((50% - 45px) / 2);
  }
}
.footer__item-social {
  padding-top: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;
  }
}
.footer__item-subscription {
  padding-top: 60px;

  @media screen and (min-width: 768px) {
    flex-basis: 100%;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;
    flex-basis: calc(50% - 15px);
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer__contacts:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}
.footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);
}
